.tableContainer {
    /* max-height: 650px; */
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.headerCell {
    background-color: #ef7d00 !important;
    color: white !important;
    font-weight: bold !important;
    /* background-color: #f8f9fa !important;
    font-weight: bold !important;
    text-transform: uppercase;
    font-size: 0.8rem; */
}

.paginationContainer {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.modalBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    background-color: white;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 24px;
    outline: none;
}

.statusAvailable {
    color: #2e7d32;
    font-weight: 600;
}

.statusUnavailable {
    color: #d32f2f;
    font-weight: 600;
}

@media (max-width: 600px) {
    .modalBox {
        width: 90%;
    }
}