:root {
  --background: #ffffff;
  --foreground: #171717;
}
/* global.css */
@keyframes marqueeAnim {
  0% {
    transform: translateX(0);
  }
  100% {
    /* This moves the content to the left. 
       We move it by a portion of the total width to create the loop. */
    transform: translateX(-50%);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
 
/* Full Screen Loader - Merged from your Promo and Register modules */
.fullScreenLoader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.95);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.mainHead {
  display: flex;
  align-items: center;
  gap: 12rem;
  
}
  .headingWraper .mainHead h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 30px;
  
  }
  .headingWraper .mainHead h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 30px;
    margin-left: 12rem;      
  }
  
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.section {
    padding: 60px 0;
  }
  
  .bgDarkYellow {
  background-color: #fdf8ef;
}

  .bgLightYellow {
    background-color: #fffaf0;
  }

  
.cifLogin {
  background-color: rgba(0, 0, 0, .05);
  padding: 40px;
  border-radius: 15px;
  /* box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1); */
}

.cifLogin h2 span {
  color: #ef7d00;
}
