:root {
  --background: #ffffff;
  --foreground: #171717;
}
@keyframes marqueeAnim {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
 
.fullScreenLoader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.95);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.mainHead {
  display: flex;
  align-items: center;
  gap: 12rem;
  
}
  .headingWraper .mainHead h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 30px;
  
  }
  .headingWraper .mainHead h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 30px;
    margin-left: 12rem;      
  }
  
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


.callAction {
  display: flex;
  align-items: center;
}

.callAction a {
  margin-left: 22.5rem;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  font-weight: 600;
}

.callAction a img {
  width: 20px;
  height: 20px;
}