/* Login.module.css */
.section {
  padding: 60px 0;
  min-height: 80vh;
}

.mainHead h1 {
  font-size: 2rem;
  color: #333;
  font-weight: 800;
  /* border-left: 5px solid #ef7d00; */
  padding-left: 15px;
}

.cifLogin {
  background-color: rgba(0, 0, 0, .05);
  padding: 40px;
  border-radius: 15px;
  /* box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1); */
}

.cifLogin h2 span {
  color: #ef7d00;
}

.inputGroup {
  margin-bottom: 1.5rem;
  position: relative;
}

.formControl {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: border-color 0.3s;
}

.formControl:focus {
  border-color: #ef7d00;
  outline: none;
}

.inputEye {
  position: absolute;
  right: 15px;
  top: 42px;
  cursor: pointer;
  color: #666;
}

.loginBtn {
  background-color: #ef7d00;
  color: white;
  padding: 12px 30px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  width: 100%;
  transition: background 0.3s;
}

.loginBtn:hover {
  background-color: #3a3738;
}

.regLink {
  color: #ef7d00;
  font-weight: 700;
  text-decoration: none;
}

/* Sticky Bar Styles */
.stickyBar {
  position: fixed;
  right: -140px;
  bottom: 20%;
  z-index: 1000;
  width: 180px;
  transition: right 0.3s;
}

.stickyBar:hover {
  right: 0;
}

.stickyBar ul {
  list-style: none;
  padding: 0;
}

.stickyBar li {
  background: #b1040e;
  margin: 5px 0;
  padding: 12px;
  display: flex;
  align-items: center;
  color: white;
  font-size: 13px;
  font-weight: 600;
  border-radius: 5px 0 0 5px;
}